@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


:root {
  --salmon: #ff8080;
  --pink-lighter: #f8bbd0;
  --pink: #ffcccc;
  --white-pink: #ffe6e6;
  --pink-mid: #f48fb1;
  --pink-darker:#f06292;
  --red: #ff0000;
  --fucsia:#d81b60;
  --fucsia-lighter:#ec407a;
  --black: #000;
  --yellow: rgb(248, 175, 6);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--pink-lighter);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
}

.col-1 {
  background: var(--pink-darker);
  flex: 1;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 4;
  min-height: 60vh;
}
header, footer {
  background: var(--salmon);
  height: 20vh;
}
header, footer, article, nav {
  padding: 1em;
}


.container{
  width:400px;
  height:200px;
  position:relative;
  perspective: 1000;
  -webkit-perspective: 1000;
  left:calc(50% - 200px);
  top:calc(50vh - 100px);
}
.card{
  width:100%;
  height:100%;
  position:absolute;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transition:transform 1s ease;
  cursor:pointer;
}
.back, .front{
  border-radius:6px;
  position:absolute;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}
.contentfront{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(60px);
  -webkit-transform:translatez(60px);
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  
}
.contentback{
  width:100%;
  height:100%;
  float:left;
  transform:translatez(60px);
  -webkit-transform:translatez(60px);
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  
}
.back{
  transform:rotateY(180deg);
  background-color:var(--pink-mid);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front{
  text-transform:uppercase;
  background-color:var(--pink-mid);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.date{
  height:100%;
  width:130px;
  float:left;
  background-color: var(--pink-darker);
  border-radius:0 6px 6px 0;
  text-align:right;
  padding:10px 30px;
  box-sizing:border-box;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
}
.datecont{
  height:100%;
  transform:translatez(60px) scale(.9);
  -webkit-transform:translatez(60px) scale(.9);
}
#date{
  font-size:50px;
  color: var(--fucsia);
  font-weight:500;
  float:right;
}
#day{
  float:right;
  font-size:14px;
  color: var(--fucsia);
  font-weight:400;
}
#month{
  float:right;
  font-size:10px;
  color: var(--fucsia-lighter);
  font-weight:200;
}
.date i{
  color: var(--fucsia-lighter);
  position:absolute;
  bottom:10px;
  right:0;
}
.date i:hover{
  color:var(--pink-darker);
  transition:.3s ease;
}
.month{
  height:100%;
  width:270px;
  float:left;
  padding:20px 30px;
  box-sizing:border-box;
}
.month table{
  width:100%;
}
.orangeTr{
  color: var(--pink-darker);
}
.whiteTr{
  color: var(--fucsia);
  
}
.whiteTr th:hover{
  color: var(--fucsia);
  transition:.3s ease;
}
.month tr{
  height:24px;
}
.month th{
  width:14%;
  font-size:10px;
  font-weight:400;
}

.flipped{
  transform:rotateY(-180deg);
}
.backcontainer{
  transform-style:preserve-3d;
  width:calc(100% - 60px);
  height:calc(100% - 40px);
  float:left;
  margin-left:30px;
  margin-top:20px;
 
  background-color: var(--pink-mid);
  border-radius:6px;
  padding:10px 30px;
  box-sizing:border-box;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
}
/* ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.month {
  padding: 70px 25px;
  width: 100%;
  background: var(--pink-lighter);
  text-align: center;
}


.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--fucsia);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}


.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: var(--pink-mid);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: var(--pink-darker);
  text-align: center;
}


.days {
  padding: 10px 0;
  background: var(--salmon);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: var(--fucsia);
}


.days li .active {
  padding: 5px;
  background: var(--black);
  color: var(--white-pink) !important
} */