@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


:root {
  --salmon: #ff8080;
  --pink-lighter: #f8bbd0;
  --pink: #ffcccc;
  --white-pink: #ffe6e6;
  --pink-mid: #f48fb1;
  --pink-darker:#f06292;
  --red: #ff0000;
  --fucsia:#d81b60;
  --fucsia-lighter:#ec407a;
  --black: #000;
  --yellow: rgb(248, 175, 6);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--pink-lighter);
}

.col-1 {
  background: var(--pink-darker);
  flex: 1;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 4;
  min-height: 60vh;
}
header, footer {
  background: var(--salmon);
  height: 20vh;
}
header, footer, article, nav {
  padding: 1em;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.month {
  padding: 70px 25px;
  width: 100%;
  background: var(--pink-lighter);
  text-align: center;
}


.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--fucsia);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}


.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: var(--pink-mid);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: var(--pink-darker);
  text-align: center;
}


.days {
  padding: 10px 0;
  background: var(--salmon);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: var(--fucsia);
}


.days li .active {
  padding: 5px;
  background: var(--black);
  color: var(--white-pink) !important
}