@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


:root {
  --salmon: #ff8080;
  --pink-lighter: #f8bbd0;
  --pink: #ffcccc;
  --white-pink: #ffe6e6;
  --pink-mid: #f48fb1;
  --pink-darker:#f06292;
  --red: #ff0000;
  --fucsia:#d81b60;
  --fucsia-lighter:#ec407a;
  --black: #000;
  --yellow: rgb(248, 175, 6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--pink-lighter);
}

#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: var(--salmon);
}
#main > nav {
  order: -1;
}
header, footer {
  background: var(--fucsia-lighter);
  color: var(--white-pink);
  font-size: 30px;
  text-align: center;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}

p {
  color: var(--fucsia);
  font-size: 30px;
  text-align: center;
}


aside{
  font-size: 50px;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;

}


.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active{
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: var(--pink-darker);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}